//フォント設定
$base-font-family: kozuka-gothic-pr6n, sans-serif;
$second-font-family: 'HiraginoUDSerifStd W4', serif;
$third-font-family: "dnp-shuei-nshogomincho-std", sans-serif;

// メディアクエリ
$pc: 'only screen and (min-width:751px) ';
$sp: 'only screen and (max-width:750px) ';



